{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">All Reviews</h1>

  {% if reviews %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Average Rating</th>
          <th>Number of Reviews</th>
          <th>Latest Review Date</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        <tr>
          <td>{{ review.type }}</td>
          <td>
            {% if review.type == "product" %}
            <a
              href="{{ url_for('products.product_page', product_id=review.id) }}"
              >{{ review.name }}</a
            >
            {% elif review.type == "seller" %}
            <a href="{{ url_for('users.public_profile', user_id=review.id) }}"
              >{{ review.name }}</a
            >
            {% else %} {{ review.name }} {% endif %}
          </td>
          <td>{{ review.average_rating|round(1) }}</td>
          <td>{{ review.review_count }}</td>
          <td>{{ review.latest_review_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-muted text-center">No reviews available.</p>
  {% endif %}
</div>
{% endblock %}
